@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo
{
  color: #fff;
  font-size: 50px;
  text-transform: uppercase;
  cursor: pointer;
}
img
{
  width: 100%;
  height: 25%;
}
.showcase
{
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  transition: 0.5s;
  z-index: 2;
}
.showcase.active
{
  right: 300px;
}
#left
{
  position: relative;
  float:  left;
  width: 25%;
  height: 50%;
  background-color: rgba(218,234,213,0.60);
  
}
#middle
{
  position: relative;
  float: middle;
  width: 25%;
  height: 50%;
  background-color: rgba(218,234,213,0.60);

}
#right
{
  position: relative;
  float: right;
  width: 25%;
  height: 50%;
  background-color: rgba(218,234,213,0.60);

}
.showcase video
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
.overlay
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #03a9f4;
  mix-blend-mode: overlay;
}

.text h3
{
  font-size:30px;
  font-weight: 700;
  color: black;
  line-height: 1em;
  text-transform: uppercase;
  opacity: 1;
}
.text p
{
  font-size: 1.1em;
  color: #fff;
  margin: 20px 0;
  padding: 10px;
  font-weight: 400;
  max-width: 700px;
}
.text a
{
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
}
.text a:hover
{
  letter-spacing: 6px;
}
.social
{
  position: absolute;
  z-index: 10;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social li
{
  list-style: none;
}
.social li a
{
  display: inline-block;
  margin-right: 20px;
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s;
}
.social li a:hover
{
  transform: scale(0.5) translateY(-15px);
}
.page-footer {
  background-color: whitesmoke;
  opacity: 0.99999;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}
.page-footer p {
  margin: 0;
  padding: 0;
  color: #000000;
}
.page-footer p.copyrights {
  font-size: 11px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  padding: 15px 1;
}